<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="<%= Rails.application.config.title %>" name="title">
    <!-- <meta content="description" name="description"> -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="<%= Rails.application.config.title %>">
    <meta property="og:title" content="<%= content_for?(:title) ? "#{yield(:title)} - #{Rails.application.config.title}" : Rails.application.config.title %>">
    <!-- <meta property="og:description" content="description"> -->
    <meta property="og:image" content="<%= image_url('/ogp.png') %>">
    <meta property="og:url" content="<%= request.url %>">
    <meta name="twitter:card" content="summary_large_image">

    <title><%= content_for?(:title) ? "#{yield(:title)} - #{Rails.application.config.title}" : Rails.application.config.title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <h1><%= Rails.application.config.title %></h1>
      <% flash.each do |type, msg| %>
        <div class="<%= "alert alert-#{type}" %>">
          <% Array(msg).each do |m| %>
            <div><%= m %></div>
          <% end %>
        </div>
      <% end %>
      <a class="btn btn-share-twitter btn-block" href="/videos/share">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        <div class="txt-share-twitter">ツイート</div>
      </a>
      <%= yield %>
    </div>
  </body>
</html>
